################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SimpleDotNetApp
/App/bin/Debug/net8.0
/App/obj/Debug/net8.0
